@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

#ss{
  box-sizing: border-box;
}

#body {
  background: #454545;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}